SECRET_KEY="12345"
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
ACCESS_TOKEN_LIFETIME=5
REFRESH_TOKEN_LIFETIME=30
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_HOST_USER=123@yandex.ru
EMAIL_HOST_PASSWORD=12345
DEFAULT_FROM_EMAIL=123@yandex.ru
JWT_SECRET_KEY="j12345"
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
CELERY_BROKER_URL=redis://127.0.1:6379/0
CSRF_TRUSTED_ORIGINS=https://localhost
CORS_TRUSTED_ORIGINS=https://localhost
