SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=
DATABASE_URL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
CSRF_TRUSTED_ORIGINS=https://localhost
CORS_TRUSTED_ORIGINS=https://localhost
