{% extends "base.html" %}
{% block title %}Обо  мне{% endblock %}

{% block content %}
<article>
    <h1>Пользователь: {{user.user}}</h1>
    <br>
    <div class="post-content">
    <h3>Коротко о себе:</h3>
    </div>
    <div class="post-content">
        <h4>{{user.bio}}</h4>
    </div>
    <br>
        <h3>Домашний сайт:</h3>
        <h4>{{user.social_link}}</h4>
</article>

<div class="mt-4">
   <a class="btn btn-outline-secondary" href="{% url "users:update_page"%}">Изменить</a>
</div>

{% endblock %}
