{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="card col-6 mx-auto">
        <div class="card-body">
            <h2 class="card-title text-center">Смена пароля</h2>
                <form action="{% url "users:password_change" %}" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="card-text mb-3">
                      <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                          <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                  {% endfor %}
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mx-auto">Сменить пароль</button>
                  </div>
                </form>
        </div>
    </div>

{% endblock %}
