{% extends "base.html" %}
{% block title %}Добавление статьи{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
        {{ f }}
        {% if f == form.title %}
            <h3 class="card-subtitle text-danger-emphasis mb-2">
                {% for e in form.title.errors %}
                {{ e }}
                {% endfor %}
            </h3>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
</form>
{% endblock content %}
