{% extends "base.html" %}
{% block title %}Главная страница - {{block.super}}{% endblock %}


{% block content %}
<h1>Последние статьи</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.created_at|date:"d.m.Y"}} | {{post.topic.title}}</h6>
                    <p class="card-text">{{post.content|truncatewords:30}}</p>
                    <a class="btn btn-primary btn-sm" href="{% url "blog:post_detail" post.slug %}">Перейти к статье</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>Статей пока нет</p>
        {% endfor %}
    </div>

{% endblock %}
